<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
	<table class="table table-striped typo3-dblist">
		<tr class="t3-row-header">
			<th style="text-align: left;">
				SKU
			</th>
			<th style="text-align: left;">
				Name
			</th>
			<th style="text-align: right; width: 75px;">
				Description
			</th>
			<th style="text-align: right; width: 100px;">
				Paypal Integration
			</th>
			<th>
				&nbsp;
			</th>
		</tr>
		<f:for each="{products}" as="product">
			<tr class="db_list_normal">
				<td>
					{product.sku}
				</td>
				<td>
					{product.title}
				</td>
				<td>
					{product.description}
				</td>
				<td>
					<ul>
						<f:if condition="{product.paypalProductId}">
							<f:then>
								<li>Product ID: {product.paypalProductId}</li>
								<f:if condition="{product.paypalPlanId}">
									<f:then>
										<li>Plan ID: {product.paypalPlanId}</li>
									</f:then>
									<f:else>
										<li>
											<f:link.action action="update" arguments="{product: product, operation: 'createPlan'}">
												<img src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/actions/actions-document-new.svg" width="16" height="16">
												<span>Add Plan to Paypal</span>
											</f:link.action>
										</li>
									</f:else>
								</f:if>
							</f:then>
							<f:else>
								<li>
									<f:link.action action="update" arguments="{product: product, operation: 'createProduct'}">
										<img src="/typo3/sysext/core/Resources/Public/Icons/T3Icons/actions/actions-document-new.svg" width="16" height="16">
										<span>Add Product to Paypal</span>
									</f:link.action>
								</li>
							</f:else>
						</f:if>
					</ul>
				</td>
				<td>
				</td>
			</tr>
		</f:for>
	</table>

</f:section>
</html>
